<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Flekx</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>List of items on sale</h1>
    <div class="list">
      {{#each items}}
        <div class="list-item">
          <div class="item-text">
            <p>{{ this.name }}: {{ this.desc }}</p>
          </div>
          <div class="item-buttons">
            <button type="button" onclick="location.href='/retrieve/{{ this.id }}';">View</button>
            <button type="button" onclick="location.href='/delete/{{ this.id }}';">Remove</button>
          </div>
        </div>
      {{/each}}
    </div>
  </body>
</html>
