<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flekx</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/jTinder.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap Core CSS -->
    <link href="../public/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../public/stylesheets/heroic-features.css" rel="stylesheet">

    <link href="../public/stylesheets/tinderstyle.css" rel="stylesheet">
</head>
<body>
	<div id="biggerWrap">
		<!-- start padding container -->
		<div class="wrap">
			<!-- start jtinder container -->
			<div id="tinderslide">
				<ul>
          {{#each items}}
            <li class="product pane1">
              <div class="img"><img src="{{ img }}" /></div>
              <div class="bottomfont">{{ this.name }}</div>
              <div class="like"></div>
              <div class="dislike"></div>
            </li>
          {{/each}}
				</ul>
			</div>
			<!-- end jtinder container -->
		</div>
		<!-- end padding container -->

		<!-- jTinder trigger by buttons  -->
		<div class="actions">
			<a href="#" class="dislike"><i></i></a>
			<a href="#" class="like"><i></i></a>

			<!-- checkout button -->
			<a href="#" class="cart" onclick="shop()"><i></i></a>
		</div>

		<!-- jTinder status text  -->
		<div id="status"></div>
		<div id="likedList" style="display:none"></div>
		<div id="dislikedList" style="display:none"></div>
	</div>

  <div id="checkoutPage" style="display:none">
	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" onclick="filter(0)">List items</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" onclick="filter(1)">Furnitures</a>
                    </li>
                    <li>
                        <a href="#" onclick="filter(2)">Renovation Materials</a>
                    </li>
                    <li>
                        <a href="#" onclick="filter(3)">Appliances</a>
                    </li>
                    <li>
                        <a href="#" onclick="filter(4)">Home Accessories</a>
                    </li>
                    <li>
                        <a href="#" onclick="goToSelect()">Back</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer" style="background:cyan;background:-webkit-linear-gradient(cyan, rgb(0,162,232));background:-o-linear-gradient(cyan, rgb(0,162,232));background: -moz-linear-gradient(cyan, rgb(0,162,232));background: linear-gradient(cyan, rgb(0,162,232));">
            <h1><button type="button" class="button"><span><a href="checkout/checkout.html" style="color: #FFFFFF">One more step!</a></span></button></h1>
            <p>Welcome to the checkout page! Please review the items you liked and decide which ones you want to buy!</p>
            <!--<p><a class="btn btn-primary btn-large">Call to action!</a>-->
            </p>
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Selected Items</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center" id="features">

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Flekx</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

		<ul id="likedDisplay" style="display:none"></ul>
		<ul id="dislikedDisplay" style="display:none"></ul>
	</div>


    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../public/js/bootstrap.min.js"></script>

	<script>
    function shop () {
      const likedList = document.querySelector('#likedList');
      const dislikedList = document.querySelector('#dislikedList');

      console.log(likedList);
      console.log(dislikedList);

      document.getElementById("biggerWrap").style.display="none";
    	var likedListContents = document.getElementById("likedList").innerHTML.split(" ");

    	var category2List = document.getElementById("category2").innerHTML.split(" ");
    	var category3List = document.getElementById("category3").innerHTML.split(" ");
    	var category4List = document.getElementById("category4").innerHTML.split(" ");

    	for (var i = 1; i < likedListContents.length; i++) {
    		var ul = document.getElementById("likedDisplay");
    		var li = document.createElement("li");
    		li.appendChild(document.createTextNode(likedListContents[i]));
    		ul.appendChild(li);

    		var category = 1;
    		for (var j = 0; j < category2List.length; j ++) {
    			if (category2List[j] == likedListContents[i]) category = 2;
    		}
    		for (var j = 0; j < category3List.length; j ++) {
    			if (category3List[j] == likedListContents[i]) category = 3;
    		}
    		for (var j = 0; j < category4List.length; j ++) {
    			if (category4List[j] == likedListContents[i]) category = 4;
    		}

    		var itemDisplay = document.createElement("div");
    		itemDisplay.className = "col-md-3 col-sm-6 hero-feature itemType" + category;
    		var itemThumbnail = document.createElement("div");
    		itemThumbnail.className = "thumbnail";
    		var itemImage = document.createElement("img");
    		itemImage.setAttribute("src", "img/pane/pane" + likedListContents[i] + ".jpg");
    		var itemCaption = document.createElement("div");
    		itemCaption.className = "caption";
    		var itemCaptionTitle = document.createElement("h3");
    		var itemCaptionTitleText = document.getElementById("title" + likedListContents[i]).innerHTML;
    		itemCaptionTitle.innerHTML = itemCaptionTitleText;
    		var itemCaptionDescription = document.createElement("p");
    		var itemCaptionDescriptionText = document.getElementById("description" + likedListContents[i]).innerHTML;
    		itemCaptionDescription.innerHTML = itemCaptionDescriptionText;
    		var itemCaptionButtons = document.createElement("p");
    		var itemCaptionButton1 = document.createElement("a");
    		itemCaptionButton1.className = "btn btn-primary";
    		itemCaptionButton1.innerHTML = "Buy Now!";
    		var itemCaptionButton2 = document.createElement("a");
    		itemCaptionButton2.className = "btn btn-default";
    		itemCaptionButton2.innerHTML = "More Info";
    		itemCaptionButtons.appendChild(itemCaptionButton1);
    		itemCaptionButtons.appendChild(itemCaptionButton2);
    		itemCaption.appendChild(itemCaptionTitle);
    		itemCaption.appendChild(itemCaptionDescription);
    		itemCaption.appendChild(itemCaptionButtons);
    		itemThumbnail.appendChild(itemImage);
    		itemThumbnail.appendChild(itemCaption);
    		itemDisplay.appendChild(itemThumbnail);

    		var featuresDisplay = document.getElementById("features");
    		featuresDisplay.appendChild(itemDisplay);
    }

		function filter(type) {
			if (type == 0) {
				var items = document.getElementsByClassName("hero-feature")
				for (var i = 0; i < items.length; i ++) {
					items[i].style.display="initial";
				}
			} else {
				hideAll();
				var className = "itemType" + type;
				var items = document.getElementsByClassName(className)
				for (var i = 0; i < items.length; i ++) {
					items[i].style.display="initial";
				}
			}
		}
		function hideAll() {
			var items = document.getElementsByClassName("hero-feature")
			for (var i = 0; i < items.length; i ++) {
				items[i].style.display="none";
			}
		}
	</script>
  <!-- jQuery lib -->
  <script type="text/javascript" src="../public/js/jquery.min.js"></script>
  <!-- transform2d lib -->
  <script type="text/javascript" src="../public/js/jquery.transform2d.js"></script>
  <!-- jTinder lib -->
  <script type="text/javascript" src="../public/js/jquery.jTinder.js"></script>
  <!-- jTinder initialization script -->
  <script type="text/javascript" src="../public/js/main.js"></script>
</body>
</html>
